.hello {
  position: relative;
}

.container {
  /*width: 1464px;*/
  background-color: #f4f4f4;
  padding: 0px 20px 20px 0;
  box-sizing: border-box;
}

.content {
 // background-color: #fff;
  /*width: 1450px;*/
  padding-left: 20px;
  padding-top: 24px;
  padding-right: 20px;
  box-sizing: border-box;
  min-height: 750px;
  position: relative;
  padding-bottom: 90px;
}

table {
  /*width: 1407px;*/
  width: 100%;
  margin-top: 15px;
  background-color: #fff;
  box-sizing: border-box;
  border: 0;
}

table tr {
  border: 2px solid rgba(243, 243, 243, 1)!important;
  line-height: 44px;
  text-align: center;
}

table tr:nth-of-type(1) {
  //background-color: rgba(243, 243, 243, 1);
  height: 56px;
  line-height: 56px;
  text-align: center;
}

table tr:nth-of-type(1) th {
  margin: 0;
  border: 0;
  //background-color: rgba(243, 243, 243, 1);
}

table tr th,
table tr td {
  text-align: center;
  margin: 0;
}

.normal {
  color: #00A854;
}

.normal span {
  /*font-size: 30px;*/
}

.abnormal {
  color: #FE5500;
}

.abnormal span {
  /*font-size: 30px;*/
}

.header {
  height: 64px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(233, 233, 233, 1);
  box-sizing: border-box;
  /*width: 1464px;*/
}

.header>img {
  vertical-align: middle;
  height: 64px;
  position: relative;
  top: -5px;
}

.header h1 {
  display: inline-block;
  padding: 0;
  margin: 0;
  padding-left: 10px;
  font-family: 'Arial Normal', 'Arial';
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: #666666;
  line-height: 64px;
}

.header span {
  margin-right: 40px;
  float: right;
  line-height: 64px;
  font-size: 14px;
}

.header span img {
  margin-right: 10px;
  vertical-align: middle;
  cursor: pointer;
}

.header span i {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background-color: rgba(153, 153, 153, 0.458823529411765);
  line-height: 64px;
  margin-right: 10px;
  vertical-align: middle;
  cursor: pointer;
}

.header span div {
  display: inline-block;
  width: 21px;
  height: 32px;
  border-radius: 15px;
  background-color: rgba(153, 153, 153, 0.458823529411765);
  vertical-align: middle;
  margin-right: 10px;
  cursor: pointer;
}

.lookBlog {
  display: inline-block;
  outline: 0;
  width: 65px;
  height: 26px;
  border: 1px solid rgba(16, 142, 233, 1);
  color: rgba(16, 142, 233, 1);
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  margin-right: 10px;
}

.lookBlog:hover {
  background-color: rgba(16, 142, 233, 1);
  color: #fff;
  border: 0;
}

.search {
  height: 76px;
  /*width: 1407px;*/
  box-sizing: border-box;
  background-color: #ffffff;
  //margin-top: 10px;
  line-height: 76px;
  text-indent: 20px;
  position: relative;
  min-width: 1285px;
}

.searchActive {
  height: 180px;
}

.search>span {
  line-height: 22px;
  padding: 1.2px 10px;
  text-align: center;
  border: 1px solid rgba(217, 217, 217, 1);
  border-radius: 4px;
  margin: 0 5px;
  cursor: pointer;
}
.engine-style{
  font-size: 20px;
  margin-right: auto;
}
.engine-style span{
  cursor: pointer;
}

.show-expect{
  height: 30px;
  width: 250px;
  margin: auto ;
  margin: auto 10px;
  text-align: center;
  display: flex;
}
.show-expect div{
  width: 100px;
  border: 1px solid #fff;
  border-radius: 5px;
  background: #fff;
  color: #222;
  margin: auto 10px;
  line-height: 30px;
  text-indent: 0px;
  cursor: pointer;
}
/*.show-expect div:hover{
  background: #fff;
  color: #41e2db;
  border: 1px solid;
}*/
.show-expect .nothide{
  background: #fff;
  color: rgba(16, 142, 233, 1);
  border: 1px solid;
}
.searchTextInput{
  padding-left: 10px;
}
.engine-style span{
  margin: 0px 5px;
}
.active {
  border-radius: 4px;
  line-height: 22px;
  padding: 1.2px 10px;
  text-align: center;
  color: rgba(16, 142, 233, 1);
  margin: 0 5px;
  cursor: pointer;
  border: 1px solid rgba(16, 142, 233, 1)!important;
}

.search form {
  display: inline-block;
  float: right;
}

.search form input {
  width: 241px;
  height: 28px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  border: 1px solid rgba(217, 217, 217, 1);
  outline: 0;
}

.search form input:nth-of-type(1) {
  margin-right: 40px;
}

.search form input:nth-of-type(2) {
  /*margin-right: 30px;*/
}

.search form button {
  width: 61px;
  height: 28px;
  border-radius: 4px;
  background-color: rgba(16, 142, 233, 1);
  color: #fff;
  outline: 0;
  border: 0;
  margin-right: 10px;
  line-height: 28px;
  cursor: pointer;
}

.search form button+span {
  color: rgba(16, 142, 233, 1);
  cursor: pointer;
}

.search form button+span img {
  width: 14px;
  height: 14px;
  margin-left: 3px;
  position: relative;
  top: 2px;
  cursor: pointer;
}

.isblock {
  /*position: relative;*/
  margin-left: -483px;
  margin-top: -24px;
}

.isblock select,
.isblock input {
  width: 241px;
  height: 28px;
  border-radius: 4px;
  border: 1px solid rgba(217, 217, 217, 1);
  text-indent: 10px;
}

.isblock div {
  display: inline-block;
}

.data3 {
  position: relative;
  left: 370px;
}

.data4 {
  position: relative;
  left: 410px;
}

.data5 {
  position: relative;
  left: 446px;
}

.data1 {
  margin-left: 194px;
}

.search form button:nth-of-type(2) {
  background: #fff;
  color: #000;
  border: 1px solid rgba(217, 217, 217, 1);
}

.upper {
  color: rgba(16, 142, 233, 1);
  cursor: pointer;
}

.upper img {
  width: 14px;
  height: 14px;
  margin-left: 3px;
  position: relative;
  top: 2px;
  cursor: pointer;
}

.downmargin {
  margin-left: 670px;
  margin-top: -22px;
}

.downmarginActive {
  display: inline-block;
  margin: 0;
  width: 150px;
}

.form {
  margin-right: 150px;
}

.isDownt2 {
  position: relative;
  left: 145px;
}

.rightShow {
  position: absolute;
  right: 20px;
  top: 85px;
  width: 410px;
  height: 752px;
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box;
  border: 1px solid rgba(216, 216, 216, 1);
  border-radius: 4px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.349019607843137);
  padding: 16px 20px;
  overflow: hidden;
}

.rightShowButton {}

.rightShowButton span {
  vertical-align: middle;
  font-size: 14px;
  margin-left: 6px;
}

.rightShowButton img:nth-of-type(1) {
  width: 24px;
  height: 25px;
  vertical-align: middle;
}

.rightShowButton img:nth-of-type(2) {
  width: 10px;
  height: 10px;
  float: right;
  vertical-align: middle;
  cursor: pointer;
  margin-top: 3px;
}

.oneline {
  width: 410px;
  height: 1px;
  background-color: rgba(216, 216, 216, 1);
  margin-top: 11px;
  margin-left: -21px;
}

.rightShowList {
  padding-top: 15px;
  position: relative;
}

.rightShowList span {
  line-height: 40px;
}

.rightShowList span img {
  margin-right: 5px;
}

.rightShowList div div p {
  position: absolute;
  display: block;
  width: 1px;
  height: 30px;
  background-color: rgba(216, 216, 216, 1);
  left: 6px;
  transform: translateY(-15px);
}

/*.rightShowList>div div:last-of-type p {
  display: none;
}
*/


table+.block {
  position: absolute;
  bottom: 30px;
  right: 30px;
}
.response-empty-warning{
  background: #2a92ff;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  color: #fff;
}
body{
  height: 100%;
  position: absolute;
  width: 100%;
  display: block;
  background: #f4f4f4;
}
