  .header {
    height: 64px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(233, 233, 233, 1);
    /*width: 1464px;*/
  }
  *{
    box-sizing: border-box;
  }
  .header>img {
    vertical-align: middle;
    height: 64px;
    position: relative;
    top: -5px;
  }

  .header h1 {
    display: inline-block;
    padding: 0;
    margin: 0;
    padding-left: 10px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    color: #666666;
    line-height: 64px;
  }

  .header span {
    margin-right: 40px;
    float: right;
    line-height: 64px;
    font-size: 14px;
  }

  .header span img {
    margin-right: 10px;
    vertical-align: middle;
    cursor: pointer;
  }

  .header span i {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background-color: rgba(153, 153, 153, 0.458823529411765);
    line-height: 64px;
    margin-right: 10px;
    vertical-align: middle;
    cursor: pointer;
  }

  .header span div {
    display: inline-block;
    width: 21px;
    height: 32px;
    border-radius: 15px;
    background-color: rgba(153, 153, 153, 0.458823529411765);
    vertical-align: middle;
    margin-right: 10px;
    cursor: pointer;
  }

  .dateMac {
    width: 100%;
    display: inline-block;
    //margin: 20px 0px 0px 0;
    padding: 10px;
    background: #ffffff;
  }

  /*.dateMac #main {
    width: 400px;
    height: 380px;
  }*/
  .left-table-contain{
    width: 63.5%;
  }
  .right-table-contain{
    width: 35%;
  }
  .right-table-contain .block{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .left-table-contain .block{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .offLink {
    width: 100%;
    display: inline-block;
    //margin: 20px 0px 0 0px;
    padding: 10px;
    //padding-bottom: 0px;
    //margin-bottom: 10px;
    background: #ffffff;
  }

  .offLink #main3 {
   /* width: 700px;
    height: 580px;*/
  }

  .monthMac {
    /*margin: 50px;*/
    width: 100%;
    margin: 16px 0 0 0;
    padding: 10px;
    background: #ffffff;
    /*height: 500px;*/
  }

  .monthMac #main2 {
   /* width: 1300px;
    height: 500px;*/
  }
  .log-messagepage{
    padding-left: 20px !important;
  }
  .container .content {
    width: 100%;
    margin: 0 auto;
  }
  .list-contain{
    width: 100%;
    padding: 10px;
    background: #ffffff;
    margin-top: 16px;
    //margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    line-height: 30px;
    text-align: center;
    align-content: flex-start;
  }
  .list-contain .item{
    width: 100%;
    height: 30px;
    display: flex;
    flex-wrap: wrap;;
  }
  .list-contain .item div{
    width: 33%;
    border-right: 1px solid #a5caf4;
    border-top: 1px solid #a5caf4;
    border-bottom: 1px solid #a5caf4;
  }
  .list-contain .lib{
    display: flex;
    width: 100%;
    height: 30px;

  }
  .list-contain .lib div{
    width: 33%;
    border-right: 1px solid #a5caf4;
    background: #ccc;
  }
  .list-contain .lib div:nth-child(1){
    border-left: 1px solid #a5caf4;
  }
  .list-contain .lib div:nth-child(2){

  }
  .list-contain .lib div:nth-child(3){

  }
  .list-contain .item div:nth-child(1){
    border-left: 1px solid #a5caf4;
  }
  .list-contain .item div:nth-child(2){

  }
  .list-contain .item div:nth-child(3){

  }
.flex-contain{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom:0px!important;
}
.table-title{
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}
.list-body{
  width: 100%;
  height: 80%;
  overflow-y: auto;
}
